/** {
    margin: 0;
    padding: 0;
}*/

body {
    font: 12px/17px Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #DFCEB6;
    background: #ffffff;
    margin: 0 !important;
}

h1 {
    padding: 30px 25px 30px 25px;
    font-size: 12px;
    color: #601D25;
    font-size:40px;
    margin-right: 30px;
    text-align: center;
}
h2 {
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 20px;
    color: #444;
    border-bottom: 1px solid #a8a4ab;
    padding-bottom: 30px;
}

h3 {
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 20px;
    color: #444;
}

h4 {
    margin-top: 15px;
    padding: 30px 0 20px 30px;
    font: bold 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #000;    
    /*    width: 100%;
        height: 1px;
        background: #B89568;*/
}
p {
    padding: 5px 0;
    color: #000;
    line-height: 1.5;
    font-size: 14px;

}

/*a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}*/

#container {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    display: inline-grid;
    /*grid-template-columns: 355px 680px;*/
    grid-template-columns:350px 1fr;
    /*grid-template-columns: minmax(200px, 300px), minmax(200px, 1fr) ;*/
    grid-template-rows: auto auto auto auto;
    /*justify-content: space-evenly;*/
}

#middle { 
    width: 1090px;
    margin: auto;
}

#left {
    /*float: left;*/
    margin: 110px 15px 30px 30px;
    /*margin: 110px 0px 30px 240px;*/
    width: 300px;    
    background: #f4e1e5;
    grid-column-start: 1;
    grid-row-start: 2;
    height: 1645px;
    /*justify-self: end;*/
}

#logo {
    margin: 0 0px;   
    height:130px;
    background: #202020; 

    text-align: center;
    font-size: 25px;
    padding: 10px 5px 20px 5px;

}

.opinius{
    text-align: center;
    font-size: 45px;
    padding: 5px 0px 0px 8px; 
    margin: 0;
    /*font-weight: normal;*/ 
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 11px;
    margin-top: 15px;
    /*    padding: 30px 0 20px 30px;*/
    /*font: bold 45px Verdana, Geneva, Arial, Helvetica, sans-serif;*/
    color: #E2D6C7; 
}
.logoText{
    /*margin: 20px 0px 0px 0px;*/
    /*    padding: 5px 0;*/
    text-align: center;
    font-size: 13px;
    padding: 29px 0px 5px 0px; 
    margin: 0;
    font-weight: normal; 
    letter-spacing: 1px;
    color: #ffffff;
}
#logo p{
    text-align: center;
    font-size: 13px;
    padding: 30px 0px 2px 0px; 
    margin: 0;
    font-weight: normal; 
    letter-spacing: 1px;

}
.star{
    color:yellow;
    background: #202020; 
    padding: 5px 0px;
}
.examples {
    padding: 25px 19px 16px 19px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-top: 20px solid #fff;
    line-height: 1.5;
    /*color: #800080;*/
    color: #444;    
    font-weight: bold;
}
.examples2 {
    padding: 0px 20px 25px 20px;
    text-align: center;
    /*color: #800080;*/
    color: #444;
}
.icon-down{
    padding: 20px 10px 0px 10px;
}
.fakeReviews{
    border-top: 25px solid #fff;
    height: 300px;
}
.frLink{
    /*text-align: center;*/
    margin: 25px 30px 0px 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a8a4ab;
}

.frDestination{

    /*text-align: center;*/
    margin: 0px 30px 20px 20px;
    font-size: 20px;
    padding-top: 20px;
}
.frDestination2{

    /*text-align: center;*/
    margin: 30px 30px 30px 20px;
    font-size: 20px;

}
.frLink a{
    text-decoration: none;  
}
.frDestination a{ 
    text-decoration: none;  
}
.frLink a:hover{

    text-decoration: underline;
}
.frDestination a:hover{

    text-decoration: underline;
}
.frPhoto{
    margin:0;
    padding:0;
}
.text{
    /*color: #800080;*/
    color: #444;
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 30px -12px 20px;
}
.frDestination2 a{ 
    text-decoration: none;  
}
.frDestination2 a:hover{
    text-decoration: underline;
}
#right {
    /*    float: left;*/
    margin: 110px 30px 30px 15px;
    padding: 10px 60px 18px 60px;
    /*width: 580px;*/
    font-size: 12px;
    color: black;
    background: #f4e1e5;
    line-height: normal;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    /*justify-self: right;*/
}

#footer {
    clear: both;
    margin: 0 auto;
    padding: 6px 0 6px 0px;
    width: 100%;
    background: #000;
    text-align: center;
    grid-column: 1 / span 2;
    /*grid-column-end: span 2;*/
    grid-row-start: 4;
}

#footer p {		
    color: #8C594C;
}

#footer a {
    color: #8C594C;
}

#footer a:hover {
    color: #DFCEB6;
}
.menu
{ 
    width: 100%;
    padding: 22px 0;
    background: black;
    text-align: center;
    position: fixed; /* Przykleja element podczas skrolowania */
    top: 0;  /*w tym przypadku do górnego lewego rogu */
    left: 0;
    grid-column-start: 1;
    grid-column-end: span 2;
}
.menu ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;

}

.menu ul a
{
    color: #AB7859;
    text-decoration: none;
    display: block;
}

.menu ul li
{
    float: left;
    width: 149px;
    height: 40px;
    border-left: 3px solid #d10000;
}

.menu ul li:nth-last-child(2)
{
    border-left: 0px solid #d10000;
    /*border-right: 3px solid #d10000;*/
    background: #d10000;
    margin-left: 8px;
    margin-right: 8px;
}
.menu ul li:nth-last-child(2) a 
{
    color:black; 
    font-weight: bold;
}
.menu ul li:hover:nth-last-child(2)
{
    background: #ff3a41;

}
.menu ul li:nth-last-child(3)
{
    border-right: 3px solid #d10000;
}
.menu ul li:last-child
{
    /*    background: #ff3a41;*/
    border-left: 3px solid #d10000;
    border-right: 3px solid #d10000;
}

.menu ul li:hover
{
    background: #202020; 
}

.menu ul li:hover a
{
    /*    color: #451717;*/
}
.menu ul li ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: none;
}
.menu ul li:hover ul
{
    display: block;
}
.menu ul li ul li
{
    background: #000;
    position: relative;
    z-index: 100;
    float: left;
    width: 230px;
    height: 40px;
    border-top: 3px solid #d10000;
    border-left: 0px;
    margin-left: -40px;
}
.menu ul li ul li:hover
{
    background: #202020; 
}
.menu ul li ul li:hover a
{
    color: #AB7859;
}
.menu ul li ul li:nth-last-child(2)
{
    background: #000000;
    margin-left: -40px;
    /*margin-right: 0px;*/
}
.menu ul li ul li:nth-last-child(2) a 
{
    font-weight: normal;
    color: #AB7859;
}
.menu ul li ul li:nth-last-child(3)
{
    border-right: 0px solid #d10000;
}
.menu ul li ul li:hover:nth-last-child(2)
{
    background: #202020; 
}
.menu ul li ul li:last-child
{
    border-left: 0px solid #751b1b;
    border-right: 0px solid #751b1b;
}
.menu ul li ul li:nth-last-child(6)
{
    margin-top: 8px;
    border-top: 0px solid #751b1b;
}
.menu ul li ol
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: none;
}
.menu ul li:hover ol
{
    display: inline-block;
}
.menu ul li ol li
{
    background: #000;
    position: relative;
    z-index: 100;
    float: left;
    width: 150px;
    height: 40px;
    border-top: 3px solid #d10000;
    border-left: 0px;
    margin-left: 0px;
}
.menu ul li ol li:hover
{
    background: #202020; 
}
.menu ul li ol li:hover a
{
    color: #AB7859;
}

.menu ul li ol li:nth-last-child(2) a 
{
    font-weight: normal;
    color: #AB7859;
}
.menu ul li ol li:hover:nth-last-child(2)
{
    background: #202020; 
}
/*TU EDYTOWAĆ W PRZYPADKU ZWIĘKSZAJĄCEJ SIĘ LICZBY PODSTRON W MENU "WIĘCEJ" -> nth-last-child(x+1) */
.menu ul li ol li:nth-last-child(2) 
{
    background: #000000;
    margin-top: 8px;
    border-top: 0px solid #751b1b;
    margin-left: 0px;
}
.menu ul li ol li:nth-last-child(1) 
{
    border-left: 0px solid #751b1b;
    border-right: 0px solid #751b1b;
}



.socials /* Ikony fb, yt, tw, g+ */
{
    clear: both;
    width:100%;
    text-align: center;
    background-color: #202020; 
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    /*display: inline-block;*/

}

.socialdivs
{

    /*width: 1000px;*/
    /*    margin: auto;*/
    display: inline-block;




}

.fb
{
    width: 235px;
    height: 155px;
    float:left;

}

.fb:hover
{
    background-color: #4668b3;
}

.yt
{
    width: 235px;
    height: 155px;
    float:left;
}

.yt:hover
{
    background-color: #d94348;
}

.tw
{
    width: 235px;
    height: 155px;
    float:left;
}

.tw:hover
{
    background-color: #3095d3;
}

.gplus
{
    width: 235px;
    height: 155px;
    float:left;
}

.gplus:hover
{
    background-color: #d95333;
}

.logowanie{
    margin: auto;
    text-align: center;
    background: #f4e1e5;
}
.addReview{
    text-align: left;
    /*background: #f4e1e5;*/
}

input[type=text],
input[type=password],
input[type=email],
select
{
    width: 300px;
    background: #efefef;
    /*background: yellow;*/
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px;
}
input[type=text].addReview,
select.addReview,
textarea.addReview
{
    margin: 0px 0px 10px 0px;
}
input[type=submit].addReview{
    margin: 20px 0px 20px 0px;
    text-align: center;
}


input[type=passoword].secondPassword
{
    width: 300px;
    /*background: #efefef;*/
    background: yellow;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px;
    /*margin-left: 5px;  dodane bo jest krzywe pole z mailem */
}
textarea
{
    padding:18px;
    margin: 10px;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    background-color: #efefef;
    resize: none;  /*powoduje, że nie można zmieniać wielkości pola textarea */
    width: 450px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
select:focus
{
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}

input[type=submit]
{
    width: 300px;
    background-color: #36b03c;
    font-size:20px;
    color: white;
    padding: 15px 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

input[type=submit]:hover
{
    /*background: #1cce2e;*/ 
    background: #f4e1e5;
    color: #36b03c;
    border: 3px solid #36b03c;
    padding: 12px 10px;
}

/*input[type=checkbox]
{
    margin-top: 10px;
}*/

.captcha
{
    /*margin-top: 20px;*/
    /*text-align: center;*/
    display: table; /* oblicza szerokość captchy - potrzebne aby wyśrodkować ją */
    margin: auto; /* wyśrodkowanie captchy */
}

.error
{
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
}

table
{
    background-image: url("../images/stone.png");
    color: #331104;
    border-collapse: collapse; /*powoduje że nie ma przestrzeni miedzy komórkami tabeli */
    border: solid 3px #f4e1e5;
    margin-top:10px;
}

table th
{
    /*    vertical-align: top; */
    text-align:center;
    border: 3px solid #7956af;
}

table td
{
    /*    background-color: #ffff33;*/
    vertical-align: top; 
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    /*    color: #000000;*/
    color: #331104;
    border: 3px solid #7956af;
    font-size: 13px;
}

table input[type=submit]
{
    width: 150px;
    padding:10px;
    background: #d10000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
    /*    color: #423b3b;*/
    font-weight: bold;
    font-size:15px;

}
table input[type=submit]:hover
{
    background: #dd1a20;

}
table button:hover{
    background: #ff1919;
}
.reviewSpace{
    border: 0px;
    background: #f4e1e5;

}
input[type=submit].deleteButton{
    background: red;
}
input[type=submit].deleteButton:hover{
    background: #f4e1e5;
    color: red;
    border: 3px solid red;
}

@media only screen and (max-width: 1020px) {
    #container {   
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
    }
    .menu{
        height: 101px;
        background: #000;
        position: static;
    }
    #left {
        margin: 30px 15px 30px 30px;
        grid-row-start: 3;
        width: 350px;
        justify-self: center;
    }
    #right {
        margin: 30px 30px 30px 15px;
        grid-column-start: 1;
        grid-row-start: 2;
        padding: 20px;
        margin: 0;
    }
    /*    .menu ul
        {
            display: block;
        }*/

    .menu ul li:nth-last-child(1)
    {
        width: 140px;
        margin-top: -40px;
        margin-right:170px;
        /*background: blue;*/
        border-right: 0px;
        border-left: 0px;
        float: right;
    }
    .menu ul li:nth-last-child(2)
    {
        width: 147px;
        /*background: green;*/
        margin-top: -40px;
        margin-left: -1px;
        border-right: 0px;
        border-left: 0px;
        float: right;
    }
    .menu ul li:nth-last-child(3)
    {
        margin-top: 60px;
        border-right: 0px;
        border-left: 0px;
        margin-left: 3px;
        float: none;
    }
    .menu ul li:nth-last-child(4)
    {
        border-right: 3px solid #d10000;
    }
    .menu ul li ul li:nth-last-child(4)
    {
        border-right: 0px;
    }
    .menu ul li ul li:nth-last-child(3)
    {
        margin-top: 0px;
        float: left;
        margin-left: -40px;
    }
    .menu ul li ul li:nth-last-child(2)
    {
        margin-top: 0px;
        float: left;
        width: 230px;
    }
    .menu ul li ul li:nth-last-child(1)
    {
        margin-top: 0px;
        float: left;
        width: 230px;
    }
    .menu ul li ol li:nth-last-child(2) 
    {
        float: left;
        margin-top: 8px;
        width:150px;

    }
    .menu ul li ol li:nth-last-child(1) 
    {
        float: left;
        margin-top: 0px;
        width:150px;

    }
    .socials
    {       
        grid-row-start: 4;
    }
    .fb
    {
        float: left;
    }
    .yt
    {
        float: left;
    }
    .tw
    {
        float: none;
    }
    .gplus
    {
        float: right;
    }
    #footer 
    {
        grid-row-start: 5;
    }      

}
/*smartfony pionowo*/
@media only screen and (max-width: 340px) {
    .fb
    {
        float: none;
    }
    .yt
    {
        float: none;
    }
    .tw
    {
        float: none;
    }
    .gplus
    {
        float: none;
    }
    #left
    {
        width: 320px;
        margin: 0;
    }
    table td
    {
        padding: 3px 5px 3px 5px;
    }
    textarea.addReview
    {
        width: 240px;
    }
    input[type=text],
    input[type=password],

    input[type=submit].addReview,
    input[type=submit],
    select
    {
        width: 250px;
    }
    input[type=email]
    {
        width: 250px;
    }
    .captcha
    {
        transform:scale(0.82);
        /*margin-left:7px;*/
    }
    /*    label
        {
            width: 100px;
            padding: 0px 40px 0px 40px;
        }*/
    #right
    {
        padding-left: 0;
        padding-right:0;
    }
    #left
    {
        width:319px;/* 1 pixel mniej bo pasek przesuwania na dole sie pojawia*/
    }    
    .menu{
        height: 132px;
        background: #000;
        position: static;
    }
    .menu ul li ul li
    {        
        margin-left: -67px;
        /*background: yellow;*/
    }
    .menu ul li ul li:nth-last-child(2)
    {        
        margin-left: -67px;
        border-right: 0px;
    }
    .menu ul li ul li:nth-last-child(1)
    {        
        margin-left: -67px;
    }
    .menu ul li ul li:nth-last-child(3)
    {        
        margin-left: -67px;
    }
    .menu ul li ul li:nth-last-child(5)
    {        
        border-right: 0px;
    }
    .menu ul li ul li:nth-last-child(4)
    {        
        margin-top:-2px;
    }
    .menu ul li ol li:nth-last-child(2)
    {        
        border-right: 0px;
    }
    .menu ul li:nth-last-child(5)
    {
        border-right: 3px solid #d10000; 
    }
    .menu ul li:nth-last-child(4)
    {
        margin-top: 6px;  
        margin-right: -3px;
        border-right: 3px solid #000; 
        border-left: 3px solid #000;
    }
    .menu ul li:nth-last-child(1) /* settings button */
    {
        width: 149px;
        margin-top: -40px;
        margin-right:170px;
        margin-left:0px;
        /*background: blue;*/
        border-right: 3px solid #d10000; 
        border-left: 3px solid #d10000; 
        float: left;
    }
    .menu ul li:nth-last-child(2) /* login button */
    {
        width: 133px;
        /*background: green;*/
        margin-top: -86px;
        /*margin-bottom: -8px;*/
        /*padding-right: -10px;*/
        margin-right: 29px;
        border-right: 0px solid #d10000; 
        border-left: 0px solid #d10000; 
/*        border-collapse: separate;
        border-spacing: 50px;*/
        float: right;
    }
    .menu ul li:nth-last-child(3) /* more button */
    {
        margin-top: 52px;
        border-right: 3px solid #d10000; 
        border-left: 0px solid #d10000; 
        /*margin-right: 30px;*/
        float: left;
    }

}
/* resize textarea */
@media only screen and (max-width: 545px) {
    textarea
    {
        width: 260px;
    }
}
