* {
    margin: 0;
    padding: 0;
}
body {
    font: 12px/17px Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    display: inline-grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto auto auto auto;
}
h1 {
    padding: 30px 25px 30px 25px;
    font-size: 12px;
    color: #601D25;
    font-size:40px;
    margin-right: 30px;
    text-align: center;
}
h2 {
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 20px;
    color: #444;
    border-bottom: 1px solid #a8a4ab;
    padding-bottom: 30px;
}
h3 {
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 20px;
    color: #444;
}
h4{
    color: #444;
}
p {
    padding: 5px 0;
    color: #000;
    line-height: 1.5;
    font-size: 14px;

}

.textCenter{
    margin: auto;
    text-align: center;
}
.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}
#container {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    display: inline-grid;
    grid-template-columns:350px 1fr;
    grid-template-rows: auto auto auto auto;
}

#middle { 
    width: 1090px;
    margin: auto;
}

aside {
    margin: 110px 15px 30px 30px;
    width: 300px;    
    background: #fff;
    grid-column-start: 1;
    grid-row-start: 2;
}

#logo {
    margin: 0 0px;   
    height:130px;
    background: #202020; 
    text-align: center;
    font-size: 25px;
    padding: 10px 5px 20px 5px;
}

.opinius {
    text-align: center;
    font-size: 45px;
    padding: 5px 0px 0px 8px; 
    margin: 0;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 11px;
    margin-top: 15px;
    color: #E2D6C7; 
}
.logoText {
    text-align: center;
    font-size: 13px;
    padding: 29px 0px 5px 0px; 
    margin: 0;
    font-weight: normal; 
    letter-spacing: 1px;
    color: #fff;
}
#logo p {
    text-align: center;
    font-size: 13px;
    padding: 30px 0px 2px 0px; 
    margin: 0;
    font-weight: normal; 
    letter-spacing: 1px;
}
.star {
    color:yellow;
    background: #202020; 
    padding: 5px 0px;
}

.rating {
    color: #515754;
    direction: rtl;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -9px;
}
.rating i:hover
{
    color: yellow;
    /*transition: 0.2s;*/
}
/*.ratingDetailed {
    color: #515754;
    direction: rtl;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -9px;
}
.ratingDetailed i:hover
{
    color: yellow;
    transition: 0.2s;
}*/
label:hover ~ label {
    color: yellow;
    /*transition: 0.2s;*/
}
.icon-down {
    padding: 20px 10px 0px 10px;
}
.userLogged{
    background: #f4e1e5;
    padding: 15px 10px 15px 10px;
    margin-top: 25px;
    text-align: center;
}
.brand {
    background: #f4e1e5;
    margin-top: 25px;
    padding: 0px 0 22px 0;
}
.category {
    background: #f4e1e5;
    margin-top: 25px;
    padding: 0px 0 22px 0;
}
.categoryLink {
    margin: 0px 30px 0px 20px;
    font-size: 20px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #a8a4ab;
}
.categoryDestination {
    margin: 0px 30px 20px 20px;
    font-size: 20px;
    padding-top: 20px;
}
.categoryLink a{
    text-decoration: none;  
}
.categoryDestination a{ 
    text-decoration: none;  
}
.categoryLink a:hover{
    text-decoration: underline;
}
.categoryDestination a:hover{
    text-decoration: underline;
}
.categoryPhoto{
    margin: 0px 20px 0px 20px;
    padding:0;
}
.text{
    color: #444;
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 30px -12px 20px;
}
section {
    margin: 110px 30px 30px 15px;
    padding: 10px 60px 18px 60px;
    font-size: 12px;
    color: black;
    background: #f4e1e5;
    line-height: normal;
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
}
footer {
    clear: both;
    margin: 0 auto;
    margin-bottom: -4px;
    padding: 6px 0 6px 0px;
    width: 100%;
    background: #000;
    text-align: center;
    grid-column: 1 / span 2;
    grid-row-start: 4;
}
footer p {    	
    color: #8C594C;
}
footer a {
    color: #8C594C;
}
footer a:hover {
    color: #DFCEB6;
}
nav{ 
    width: 100%;
    padding: 22px 0;
    background: black;
    text-align: center;
    position: fixed; /* Przykleja element podczas skrolowania */
    top: 0;  /*w tym przypadku do górnego lewego rogu */
    left: 0;
    grid-column-start: 1;
    grid-column-end: span 2;
    z-index: 100;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
nav ul a{
    color: #AB7859;
    text-decoration: none;
    display: block;
}
nav ul li{
    float: left;
    width: 149px;
    height: 40px;
    border-left: 3px solid #d10000;
}
nav ul li:nth-last-child(2){
    border-left: 0px solid #d10000;
    background: #d10000;
    margin-left: 8px;
    margin-right: 8px;
}
nav ul li:nth-last-child(2) a {
    color:black; 
    font-weight: bold;
}
nav ul li:hover:nth-last-child(2){
    background: #ff3a41;
}
nav ul li:nth-last-child(3){
    border-right: 3px solid #d10000;
}
nav ul li:last-child{
    border-left: 3px solid #d10000;
    border-right: 3px solid #d10000;
}
nav ul li:hover
{
    background: #202020; 
}
nav ul li ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: none;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    background: #000;
    position: relative;
    z-index: 100;
    float: left;
    width: 230px;
    height: 40px;
    border-top: 3px solid #d10000;
    border-left: 0px;
    margin-left: -40px;
}
nav ul li ul li:hover{
    background: #202020; 
}
nav ul li ul li:hover a{
    color: #AB7859;
}
nav ul li ul li:nth-last-child(2){
    background: #000;
    margin-left: -40px;
}
nav ul li ul li:nth-last-child(2) a {
    font-weight: normal;
    color: #AB7859;
}
nav ul li ul li:nth-last-child(3){
    border-right: 0px solid #d10000;
}
nav ul li ul li:hover:nth-last-child(2){
    background: #202020; 
}
nav ul li ul li:last-child{
    border-left: 0px solid #751b1b;
    border-right: 0px solid #751b1b;
}
nav ul li ul li:nth-last-child(6){
    margin-top: 8px;
    border-top: 0px solid #751b1b;
}
nav ul li ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: none;
}
nav ul li:hover ol{
    display: inline-block;
}
nav ul li ol li{
    background: #000;
    position: relative;
    z-index: 100;
    float: left;
    width: 150px;
    height: 40px;
    border-top: 3px solid #d10000;
    border-left: 0px;
    margin-left: 0px;
}
nav ul li ol li:hover{
    background: #202020; 
}
nav ul li ol li:hover a{
    color: #AB7859;
}

nav ul li ol li:nth-last-child(2) a {
    font-weight: normal;
    color: #AB7859;
}
nav ul li ol li:hover:nth-last-child(2){
    background: #202020; 
}
/*TU EDYTOWAĆ W PRZYPADKU ZWIĘKSZAJĄCEJ SIĘ LICZBY PODSTRON W MENU "WIĘCEJ" -> nth-last-child(x+1) */
nav ul li ol li:nth-last-child(2) {
    background: #000;
    margin-top: 8px;
    border-top: 0px solid #751b1b;
    margin-left: 0px;
}
nav ul li ol li:nth-last-child(1) {
    border-left: 0px solid #751b1b;
    border-right: 0px solid #751b1b;
}
.socials { 
    clear: both;
    width:100%;
    text-align: center;
    background-color: #202020; 
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    /*display: inline-block;*/
}
.socialdivs{
    display: inline-block;
}
.fb{
    width: 235px;
    height: 155px;
    float:left;
}
.fb:hover{
    background-color: #4668b3;
}
.yt{
    width: 235px;
    height: 155px;
    float:left;
}
.yt:hover{
    background-color: #d94348;
}
.tw{
    width: 235px;
    height: 155px;
    float:left;
}
.tw:hover{
    background-color: #3095d3;
}
.gplus{
    width: 235px;
    height: 155px;
    float:left;
}
.gplus:hover{
    background-color: #d95333;
}

input[type=text],
input[type=password],
input[type=email],
select{
    width: 300px;
    background: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px;
}
input[type=text].textLeft,
input[type=email].textLeft,
select.textLeft,
textarea.textLeft{
    margin: 0px 0px 10px 0px;
}
input[type=submit].textLeft{
    margin: 20px 0px 20px 0px;
    text-align: center;
}
button[type=submit].rem{
    background: #ff0000;
    color: #fff;
    border: 0px;
    padding: 5px 5px;
    width: 150px;
    border: 3px solid red;
    border-radius: 4px;

}
button[type=submit].rem:hover{
    background: #f4e1e5;
    color: red;
    border: 3px solid red;
}
input[type=passoword].secondPassword{
    width: 300px;
    background: yellow;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px;
}
textarea{
    padding:18px;
    margin: 10px;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    background-color: #efefef;
    resize: none;  /*powoduje, że nie można zmieniać wielkości pola textarea */
    width: 450px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
select:focus{
    border: 2px solid #a5cda5;
    background-color: #e9f3e9;
    color: #428c42;
}
input[type=submit]{
    width: 300px;
    background-color: #36b03c;
    font-size:20px;
    color: white;
    padding: 15px 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}
input[type=submit]:hover{
    background: #f4e1e5;
    color: #36b03c;
    border: 3px solid #36b03c;
    padding: 12px 10px;
}
.captcha{
    display: table; /* oblicza szerokość captchy - potrzebne aby wyśrodkować ją */
    margin: auto; /* wyśrodkowanie captchy */
}
.error{
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    background: #c6c7c7;
    color: #331104;
    border-collapse: collapse; /*powoduje że nie ma przestrzeni miedzy komórkami tabeli */
    border: solid 20px #f4e1e5;
    width:104.5%;
    margin-left:-19px;
}
table th{
    text-align:center;
    border: 12px solid #f4e1e5;
    padding-left:15px;
    padding-right:15px;
    padding-top:0px;
    padding-bottom:0px;
}
table td{
    vertical-align: top; 
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    color: #331104;
    border: 3px solid #f4e1e5;
    font-size: 13px;
    height:200px;
}

/*table input[type=submit]{
    width: 150px;
    padding:10px;
    background: #d10000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size:15px;

}*/
table input[type=submit]:hover{
    background: #dd1a20;

}
table button:hover{
    background: #ff1919;
}
.reviewSpace{
    border: 0px;
    background: #f4e1e5;
    height:50px;
}
.reviewSpace:last-child{
    border: 0px;
    background: #f4e1e5;
    height:0px;
}
input[type=submit].deleteButton{
    background: red;
}
input[type=submit].deleteButton:hover{
    background: #f4e1e5;
    color: red;
    border: 3px solid red;
}

.allegImage {
    transition: 1s ease-in-out;
    position: relative;
    margin-top: 5px;
    width: 300px;
    height: 150px;
    float: right;
    padding-left: 10px;
}
.allegImage .icon-search{
    position: absolute;
    top: 34%;
    left: 36%;
    opacity: 0.5;
}
.allegImage:hover .icon-search{
    display: none;
}
.allegImage:hover{
    transform: scale(1.7);
}

@media only screen and (max-width: 1020px) {
    #container {   
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
    }
    nav{
        height: 101px;
        background: #000;
        position: static;
    }
    aside {
        /*margin: 30px 50px 30px 50px;*/
        margin-top: 300px;
        margin-bottom: 300px;
        width:86%;
        margin: auto;
        grid-row-start: 3;
        grid-column: 1 / span 2;
    }
    section {
        margin: 30px 30px 10px 15px;
        grid-column-start: 1;
        grid-row-start: 2;
        padding: 20px;
        margin: 0;
    }   
    nav ul li:nth-last-child(1){
        width: 145px;
        margin-top: -40px;
        margin-right:152px;
        border-left: 0px solid #d10000;
        border-right: 3px solid #d10000;
        float: right;
        /*background: pink;*/
    }
    nav ul li:nth-last-child(2){
        width: 135px;
        margin-top: -40px;
        margin-left: 5px;
        border-right: 3px solid #d10000;
        border-left: 0px;
        float: right;
    }
    nav ul li:nth-last-child(3){
        /*background: green;*/
        margin-top: 60px;
        /*border-right: 3px solid #d10000;*/
        border-left: 3px solid #d10000;
        margin-left: 0px;
        /*margin-right: -3px;*/
        float: none;
    }
    nav ul li:nth-last-child(4){
        border-right: 3px solid #d10000;
    }
    nav ul li ul li:nth-last-child(4){
        border-right: 0px;
    }
    nav ul li ul li:nth-last-child(3){
        margin-top: 0px;
        float: left;
        margin-left: -40px;
        border-left: 0;
    }
    nav ul li ul li:nth-last-child(2){
        margin-top: 0px;
        float: left;
        width: 230px;
        border-right: 0;
    }
    nav ul li ul li:nth-last-child(1){
        margin-top: 0px;
        float: left;
        width: 230px;
    }
    nav ul li ol li:nth-last-child(2) {
        float: left;
        margin-top: 8px;
        width:150px;

    }
    nav ul li ol li:nth-last-child(1) {
        float: left;
        margin-top: 0px;
        width:150px;

    }
    .socials{      
        grid-row-start: 4;
    }
    .fb{
        float: left;
    }
    .yt{
        float: left;
    }
    .tw{
        float: none;
    }
    .gplus {
        float: right;
    }
    footer {
        grid-row-start: 5;
    }      
}
/*smartfony pionowo*/
@media only screen and (max-width: 480px) {
    .fb {
        float: none;
    }
    .yt {
        float: none;
    }
    .tw {
        float: none;
    }
    .gplus
    {
        float: none;
    }
    table{
        width: 112%;
        margin-left: -20px;
    }
    table td {
        padding: 3px 5px 3px 5px;
    }
    textarea.textLeft {
        width: 240px;
    }
    input[type=submit].textLeft,
    input[type=submit]{
        width: 250px;
    }
    input[type=text],
    input[type=password],
    select {
        width: 250px;
    }
    input[type=email] {
        width: 250px;
    }
    .captcha {
        margin-left:8px;
        transform:scale(0.82);
    }
    section {        
        width:320px;
    }
    aside {
        width:360px;
        margin: 25px 0px 25px 0px;
    }    
    nav {
        height: 132px;
        background: #000;
        position: static;
        width:360px;
    }
    nav ul li ul li {        
        margin-left: -67px;
    }
    nav ul li ul li:nth-last-child(2) {        
        margin-left: -67px;
        border-right: 0px;
    }
    nav ul li ul li:nth-last-child(1) {        
        margin-left: -67px;
    }
    nav ul li ul li:nth-last-child(3) {        
        margin-left: -67px;
        width: 230px;
    }
    nav ul li ul li:nth-last-child(5) {        
        border-right: 0px;
    }
    nav ul li ul li:nth-last-child(4) {        
        margin-top:-2px;
        margin-left: -67px;
        width: 227px;
    }
    nav ul li ul li:nth-last-child(6) {        
        margin-left: -67px;
        border-right: 0px;
    }
    nav ul li:nth-last-child(6) {
        border-right: 3px solid #d10000; 
        margin-left: 26px;
    }
    nav ul li:nth-last-child(5) {
        border-left: 0px;
        border-right: 3px solid #d10000; 
    }
    nav ul li:nth-last-child(4) {
        margin-top: 6px;  
        margin-left: 26px;
        border-right: 3px solid #000; 
        border-left: 3px solid #000;
    }
    nav ul li:nth-last-child(1) { /* settings button */
        width: 149px;
        margin-top: -40px;
        margin-right:170px;
        margin-left:26px;
        /*background: blue;*/
        border-right: 3px solid #d10000; 
        border-left: 3px solid #d10000; 
        float: left;
    }
    nav ul li:nth-last-child(2) { /* login button */
        width: 133px;
        margin-top: -86px;
        margin-right: 38px;
        border-right: 0; 
        border-left: 0; 
        float: right;
    }
    nav ul li:nth-last-child(3) { /* contact button */
        width: 149px;
        margin-top: 52px;
        border-right: 3px solid #d10000; 
        border-left: 0; 
        /*margin-right: 30px;*/
        float: left;
    }
    footer {
        width:100%;
        margin: 0;
    }
    .socials {
        width:360px;
    }
    table th {
        width:50px;
    }
    table td{
        padding: 10px;
    }
    input[type=submit].emailChange {
        font-size: 17px;
    }
    .allegImage{
        width:100%;
    }
    input[type=submit].rem{
        width: 80px;
    }
}
/* resize textarea */
@media only screen and (max-width: 545px) {
    textarea {
        width: 260px;
    }
}

#slideshow img {
    width:100%;
    height:200px;
}
#slideshow {
    position:relative;
    height:200px;
}
#slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}
#slideshow img.active {
    z-index:10;
}
#slideshow img.last-active {
    z-index:9;
}

#slideLogo img {
    width:100%;
    /*height:200px;*/
}
#slideLogo {
    position:relative;
    /*height:200px;*/
}
#slideLogo img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}
#slideLogo img.active {
    z-index:10;
}
#slideLogo img.last-active {
    z-index:9;
}

.sortSelect{
    width: 163px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 2px 0px 2px 3px;
}